body {
  background: url("../img/bg.png");
  width: 100%;
}

#logo-div a {
  text-decoration: none;
  border: 0;
}

#balance, #acctManage {
  display: none;
}

#balance {
  height: 110px;
  font-size: 18pt;
  padding-top: 40px;
  margin-bottom: 30px;
  margin-top: 50px;
  border: 1px dotted #1CB3B3;
}

.panel {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: 0;
  border-radius: 12px;
}

.panel#newAcct {
  width: 380px;
  position: relative;
  left: 500px;
  bottom: 500px;
}

.panel#acctManage {
  width: 500px;
}

.panel-heading {
  background-color: #1CB3B3;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

button#logout {
  margin-top: 10px;
  float: left;
  color: #000;
}

button#newAcctBtn {
  background-color: #1CB3B3;
}

button.btn-primary:hover {
  background-color: #1CB3B3;
}

.jumbotron {
  background-color: #dedada;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 110px;
  padding: 0;
  border-radius: 0 !important;
  margin-bottom: 0;
}

.jumbotron img {
  height: 90px;
  margin-top: 10px;
  float: left;
}

.jumbotron p {
  float: left;
  padding-top: 30px;
  padding-left: 9px;
  font-size: 26pt;
  color: #545454;
}

.jumbotron #search-bar {
  float: right;
  width: 250px;
  margin-top: 38px;
}

.container-fluid {
  padding: 0;
  max-width: 1600px;
  min-height: 1200px;
  background-color: #fff;
}

.carousel-caption {
  bottom: -40px;
  left: 40px;
  padding: 60px;
}

.carousel-caption span {
  font-size: 80pt;
  font-weight: bold;
  text-align: left;
  color: #F9F9F9;
  background-color: rgba(28, 179, 179, 0.6);
  font-family: 'Patua One', cursive;
}

#myCarousel {
  max-width: 1600px;
  margin: auto;
  margin-bottom: -200px;
}

.row {
  padding-top: 10px;
  padding-right: 60px;
  padding-left: 30px;
}
