body {
  background: url("../img/bg2.png");
  width: 100%;
}

#balance, #acctManage {
  display: none;
}

.panel {
  width: 450px;
  margin: auto;
}

button#logout {
  margin-top: 10px;
  float: left;
}

.jumbotron {
  background: url("../img/bg3.png");
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  padding: 0;
  width: 100%;
}
